<div class="container">
    <h1>修改管理员密码</h1>
    <div class="input-container">
        <div>旧密码：</div> 
        <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'5-20位英文字母'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input-container">
        <div>新密码：</div>
        <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'5-20位英文字母'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input-container">
        <div>确认新密码：</div>
        <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'5-20位英文字母'" [nzSize]="'large'"></nz-input>
    </div>
</div>
