<div class="article">
    <app-header></app-header>
    <div *ngIf="!isLoaded" class="loading-page">
        <nz-spin *ngIf="isLoading" [nzSize]="'large'" [nzTip]="'正在加载文章数据'"></nz-spin>
        <div *ngIf="isError">{{errorText}}</div>
    </div>
    <div *ngIf="isLoaded" class="article-center">
        <h1 class="article-title">{{article.article_title}}</h1>
        <div class="article-info">
            <div>
                <i class="anticon anticon-edit"></i>
                <span>发表于 {{timeFormat(article.create_at)}}</span>
            </div> 
            <span>|</span>
            <div>
                <i class="anticon anticon-eye"></i>
                <span>阅读次数 {{article.visit_count}}</span>
            </div>
            <span>|</span>
            <div>
                <i class="anticon anticon-message"></i>
                <span>评论次数 {{article.reply_count}}</span>
            </div>
            <span>|</span>
            <div>               
                <i class="anticon anticon-folder"></i>
                <span>分类-<a>{{article.category}}</a></span>
            </div>
        </div>
        <div class="article-content"[innerHTML]="article.article_content"></div>
        <h2>评论区</h2>
        <div class="article-comment">
            <!-- <button nz-button [nzType]="'primary'" (click)="github()"> -->
                <a href="https://github.com/login/oauth/authorize?client_id=bb34e765fc8abfa3f157&scope=user:email"><span>github</span></a> 
            <!-- </button> -->
            <div class="reply-input-container">
                <img src="../../assets/avatarl.jpeg" class="reply-input-img" />
                <div class="reply-area">
                    <nz-input [(ngModel)]="commentValue" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入要评论的内容'"></nz-input>
                    <div>
                        <button nz-button [nzType]="'primary'">
                            <span>发送</span>
                        </button>
                    </div>
                   
                </div>
            </div>
            <div class="user-comment">
                <div class="main-comment-container">
                    <img src="../../assets/avatarl.jpeg" class="main-comment-img"/>
                    <div class="main-comment">
                            <span class="main-comment-user">mysticzt</span>
                            <div class="main-comment-text">
                                    在修改模板前没问题 修改后打开首页显示A server error occurred. Please contact the administrator.
                                    终端显示：pytz.exceptions.UnknownTimeZoneError: 'Asia/shanghai'[15/Oct/2017 03:07:57] "GET / HTTP/1.1" 500 59
                            </div>
                            <div class="main-comment-info">
                                <span>2 天前</span>
                                <button nz-button [nzType]="'default'">
                                    <span>回复</span>
                                </button>
                            </div>
                            <div class="sub-comment-container">
                                <img src="../../assets/avatarl.jpeg" class="main-comment-img"/>
                                <div>
                                    <div>
                                            YoJohnDoe 回复 YoJohnDoe
                                    </div>
                                    <div>
                                            已解决。。。 ‘Asia/shanghai’ 改为‘Asia/Shanghai’。。。留给和我一样粗心的人
                                    </div>
                                    <div class="main-comment-info">
                                        <span>2 天前</span>
                                        <button nz-button [nzType]="'default'">
                                            <span>回复</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                             <div class="sub-comment-container">
                                <img src="../../assets/avatarl.jpeg" class="main-comment-img"/>
                                <div>
                                    <div>
                                            YoJohnDoe 回复 YoJohnDoe
                                    </div>
                                    <div>
                                            已解决。。。 ‘Asia/shanghai’ 改为‘Asia/Shanghai’。。。留给和我一样粗心的人
                                    </div>
                                    <div class="main-comment-info">
                                        <span>2 天前</span>
                                        <button nz-button [nzType]="'default'">
                                            <span>回复</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-comment-container">
                                <img src="../../assets/avatarl.jpeg" class="main-comment-img"/>
                                <div>
                                    <div>
                                            YoJohnDoe 回复 YoJohnDoe
                                    </div>
                                    <div>
                                            已解决。。。 ‘Asia/shanghai’ 改为‘Asia/Shanghai’。。。留给和我一样粗心的人
                                    </div>
                                    <div class="main-comment-info">
                                        <span>2 天前</span>
                                        <button nz-button [nzType]="'default'">
                                            <span>回复</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>