.article {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading-page {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-center {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .article-content {
            width: 740px;
            font-size: 14px;
        }

        .article-comment {
            width: 700px;
            margin-top: 20px;
            
            .reply-input-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .reply-input-img {
                    width: 46px;
                    height: 46px;
                    border-radius: 46px;
                    margin-right: 20px;
                }

                .reply-area {
                    display: flex;
                    flex-direction: column;

                    nz-input {
                        width: 550px;
                        margin-bottom: 20px;
                    }

                    // button {
                    //     // margin-top: 15px;
                    // }
                }

            }

            .user-comment {
                margin-top: 50px;
                padding-top: 30px;
                border-top: 1px solid #dddddd;

                img {
                    width: 40px;
                    height: 40px;
                }

                .main-comment-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .main-comment {
                        width: 650px;

                        .main-comment-user {
                            font-size: 15px;
                        }

                        .main-comment-text {
                            font-size: 14px;
                            margin-top: 10px;
                        }

                        .main-comment-info {
                            margin-top: 10px;
                            padding-bottom: 10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            span {
                                font-size: 14px;
                            }
                        }

                        .sub-comment-container {
                            padding: 10px 0;
                            border-top: 1px solid #dddddd;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }
        }

        h2 {
            align-self: left;
            margin-top: 20px;
            font-size: 28px;
        }
    }

    .article-title {
        font-size: 26px;
    }

    .article-info {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        div {
            margin-left: 10px;
            
            i {
                font-size: 15px;
            }

            span {
                font-size: 15px;
                margin-left: 10px;
            }
        }
        
        span {
            font-size: 15px;
            margin-left: 8px;
        }
    }

    .article-content {
        margin-top: 50px;
    }
}