<div class="container">
    <h1>管理员信息</h1>
    <form nz-form>
        <div class="input-container" nz-form-item>
            <div class="label-container" nz-form-label>
                <label>管理员ID</label>
            </div>
            <div class="info-input" nz-form-control [nzValidateStatus]="'error'">
                <nz-input [ngModel]="'unavailable choice'" [nzSize]="'large'" name="errorValid">
                </nz-input>
                <div nz-form-explain>Should be combination of numbers & alphabets</div>
            </div>
        </div>
        <div class="input-container" nz-form-item>
            <div class="label-container" nz-form-label>
                <label>管理员名字</label>
            </div>
            <div class="info-input" nz-form-control [nzValidateStatus]="'error'">
                <nz-input [ngModel]="'unavailable choice'" [nzSize]="'large'" name="errorValid">
                </nz-input>
                <div nz-form-explain>Should be combination of numbers & alphabets</div>
            </div>
        </div>
        <div class="input-container" nz-form-item>
            <div class="label-container" nz-form-label>
                <label>管理员ID</label>
            </div>
            <div class="info-input" nz-form-control [nzValidateStatus]="'error'">
                <nz-input [ngModel]="'unavailable choice'" [nzSize]="'large'" name="errorValid">
                </nz-input>
                <div nz-form-explain>Should be combination of numbers & alphabets</div>
            </div>
        </div>
    </form>
</div>