.container {
    h1 {
        margin-top: 50px;
    }

    .input-container {
        display: flex;
        flex-direction: row;

        .label-container {
            width: 120px;
        }
    }
}