<div class="admin-home">
    <div class="state-tab">
        <h3 >访问总数</h3>
        <span>12345</span>
    </div>
    <div class="state-tab">
        <h3>今日访问人数</h3>
        <span>12345</span>
    </div>
    <div class="state-tab">
        <h3>评论总数</h3>
        <span>12345</span>
    </div>
    <div class="state-tab">
        <h3>今日评论总数</h3>
        <span>12345</span>
    </div>
    <div class="login-info">
        <h1>登录信息</h1>
        <p>管理员ID: ztplz</p>
        <p>上次登录时间: 2016-01-08 15:50:28</p>
        <p>上次登录IP: 127.0.0.1</p>
    </div>
</div>