.tag {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

    .tag-content {
        margin-top: 50px;
        padding-top: 20px;
        margin-bottom: 200px;
        border-top: 1px solid #dddddd;

        h1 {
            margin-bottom: 30px;
        }

        .timeline {
            margin-left: 30px;
        }
    }
}