<div class="article-row">
    <div class="article-title">
        <nz-tag [nzColor]="'#f50'" *ngIf="article.top">置顶</nz-tag>
        <h1>{{article.article_title}}</h1>
    </div>
    <div class="article-row-date">
        <div>
            <i class="anticon anticon-copy"></i>
            <!-- <p>{{article.create_at.slice(0, 5)}}</p> -->
            <p>{{article.create_at + "1111"}}</p>
        </div>
    </div>
    <p>
        {{article.article_previewtext}}
    </p>
    <div class="tag-container">
        <nz-tag *ngFor="let tag of article.tag_list" [nzColor]="tag.color">{{tag.tag_title}}</nz-tag>
    </div>
    <div class="article-row-bottom">
        <div>
            <div>
                <i class="anticon anticon-eye"></i>
                <span>{{article.visit_count}}</span>
            </div>
            <div>
                <i class="anticon anticon-message"></i>
                <span>{{article.reply_count}}</span>
            </div>
            <div>
                <i class="anticon anticon-folder"></i>
                <span>{{article.category.category}}</span>
            </div>
        </div>
        <button nz-button [nzType]="'primary'" (click)="toArticle(article.id)">
            <span><i class="anticon anticon-poweroff"></i>Loading</span>
        </button>
    </div>
</div>