<div class="article-row">
    <h1>朝圣之路：冈仁波齐</h1>
    <div class="article-row-date">
        <div>
            <i class="anticon anticon-copy"></i>
            <p>2017-07-23</p>
        </div>
    </div>
    <p>
        忙碌了近一个月，终于能够出来透口气了。北京的春天总是短暂，晴空万里时让人愉快，阴郁雾霾时让人心塞。所以每一次天朗气清都会不忍其入夜，每一回惠风和畅都会加倍地珍惜。然而，这些已经在身边变换了九年的季节和情绪即将离我而去了，也不知道南方的气候是否友好，是否需要挣扎一番才能适应。
    </p>
    <div class="article-row-bottom">
        <div>
            <div>
                <i class="anticon anticon-eye"></i>
                <span>1234</span>
            </div>
            <div>
                <i class="anticon anticon-message"></i>
                <span>55</span>
            </div>
        </div>
        <button nz-button [nzType]="'primary'" [nzLoading]="true">
            <span><i class="anticon anticon-poweroff"></i>Loading</span>
        </button>
    </div>
</div>