.article-row {
    width: 800px;
    padding: 25px 0;
    border-bottom: 1px solid #dddddd;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }  

    p {
        margin-top: 10px;
        font-size: 15px;
    }

    .article-row-date {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        i {
            margin-top: 8px;
            font-size: 18px;
        }
        
        p {
            font-size: 15px;
            margin-left: 5px;
        }
    }

    .article-row-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18px;

        div {
            div {
                margin-right: 10px;

                i {
                    font-size: 18px;
                }

                span {
                    margin-left: 5px;
                    font-size: 17px;
                }
            }
        }      
    }
}