<nz-layout class="admin">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="admin-sider">
        <div class="admin-title">
            Admin
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" class="menu-list">
            <li nz-menu-item (click)="navigateToAdminHome()">
                <span title>
                    <i class="anticon anticon-team"></i>
                    <span class="nav-text">首页</span>
                </span>
            </li>
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-appstore-o"></i>
                    <span class="nav-text">文章</span>
                </span>
                <ul>
                    <li nz-menu-item (click)="navigateToCreateArticle()">新建文章</li>
                    <li nz-menu-item (click)="navigateToManageArticle()">管理文章</li>
                </ul>
            </li>
            <li nz-menu-item (click)="navigateToAdminCategory()">
                <span title>
                    <i class="anticon anticon-team"></i>
                    <span class="nav-text">分类管理</span>
                </span>
            </li>
            <li nz-menu-item (click)="navigateToAdminTag()">
                <span title>
                    <i class="anticon anticon-team"></i>
                    <span class="nav-text">标签管理</span>
                </span>
            </li>
            <li nz-menu-item (click)="navigateToAdminComment()">
                <span>
                    <i class="anticon anticon-file"></i>
                    <span class="nav-text">评论</span>
                </span>
            </li>
            <li nz-menu-item (click)="navigateToAdminMessage()">
                <span title>
                    <i class="anticon anticon-appstore-o"></i>
                    <span class="nav-text">留言</span>
                </span>
            </li>
            <li nz-menu-item (click)="navigateToAdminUser()">
                <span title><i class="anticon anticon-appstore-o"></i><span class="nav-text">用户</span></span>
            </li>
            <li nz-submenu>
                <span title><i class="anticon anticon-appstore-o"></i><span class="nav-text">设置</span></span>
                <ul>
                    <li nz-menu-item (click)="navigateToChangePassword()">更改后台密码</li>
                    <li nz-menu-item>后台登录日志</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="admin-content">
        <nz-header class="content-header">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
            <div>
                <nz-input [nzType]="'search'" [nzPlaceHolder]="'查找'"  style="width: 200px;"></nz-input>
                <button nz-button [nzType]="'danger'" (click)="showModalMiddle()" style="margin-left: 30px;">
                    <span>退出</span>
                </button>
            </div>
        </nz-header>
        <nz-content style="margin:0 16px;">
                <!-- <nz-breadcrumb style="margin:12px 0;">
                    <nz-breadcrumb-item>User</nz-breadcrumb-item>
                    <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
                </nz-breadcrumb> -->
                <!-- <div style="padding:24px; background: #fff; min-height: 360px;">
                    Bill is a cat.
                </div> -->
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer style="text-align: center;">admin powered by mysticzt</nz-footer>
    </nz-layout>
</nz-layout>