.admin-manage-article {
    h1 {
        margin-top: 20px;
    }

    .new-article-button {
        margin-top: 20px;
    }

    .control-row {
        .all-checkbox {
            display: block; width: 100px;
        }
    }
}