<div class="app-home">
    <app-header></app-header>
    <div class="home-header">
        <h1>Blog</h1>
        <p>Our everyday thoughts are presented here</p>
        <p>Music, video presentations, photo-shootings and more.</p>
    </div>
    <div class="home-center">
        <div class="home-content">
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
        </div>
        <div class="home-sider">

        </div>
    </div>
    <div></div>
</div>