<div class="app-home">
    <app-header></app-header>
    <div>
        <h1 class="flag-title">Blog</h1>
        <p class="flag-introduction-1">Our everyday thoughts are presented here</p>
        <p class="flag-introduction-2">Music, video presentations, photo-shootings and more.</p>
    </div>
    <div>
        <div>
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
            <article-row></article-row>
        </div>
        <div>

        </div>
    </div>
    <div></div>
</div>