.register {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 150px auto 200px auto;

        .register-title {
            font-size: 30px;
            margin-bottom: 20px;
        }  
        
        button {
            align-self: left;
            margin-left: 10px;
        }
    }

}